@import url(./__list-number/intro__list-number.css);
@import url(./__list-text/intro__list-text.css);
@import url(./__list/intro__list.css);
@import url(./__text/intro__text.css);
@import url(./__title/intro__title.css);

.intro {
  margin: 0 auto;
  max-width: 690px;
  margin-top: 92px;
}

@media screen and (max-width: 768px) {
  .intro {
    max-width: calc(288px + (720 - 288) * ((100vw - 320px) / (768 - 320)));
    margin-top: calc(64px + (88 - 64) * ((100vw - 320px) / (768 - 320)));
  }
}
