.intro {
  margin: 0 auto;
  max-width: 690px;
  margin-top: 92px;
}

@media screen and (max-width: 768px) {
  .intro {
    max-width: calc(288px + (720 - 288) * ((100vw - 320px) / (768 - 320)));
    margin-top: calc(64px + (88 - 64) * ((100vw - 320px) / (768 - 320)));
  }
}
