.cover {
  margin: 92px auto;
  /*padding: 92px 0;*/
  max-width: 1184px;
}

@media screen and (max-width: 1024px) {
  .cover {
    max-width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    margin: 88px auto;
    /*padding: 88px 0;*/
  }
}

@media screen and (max-width: 480px) {
  .cover {
    margin: 64px auto;
    /*padding: 64px 0;*/
  }
}
