.place__image {
  margin: 0;
  padding: 0;
  max-width: 460px;
  height: auto;
}

@media screen and (max-width: 1024px) {
  .place__image {
    width: 42.96vw;
  }
}

@media screen and (max-width: 768px) {
  .place__image {
    width: 44.27vw;
  }
}
/* разделил размер пикчи в макете на max-width, получил процент размера картинки от вьюпорта для плавности перехода. как записать через calc пока не понял */

@media screen and (max-width: 480px) {
  .place__image {
    width: 100vw;
    margin-bottom: 32px;
    object-fit: cover;
  }
}
