.footer {
  margin: 0 auto;
  padding: 0 1rem 1rem; /* попробовать */
  max-width: 1184px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media screen and (max-width: 480px) {
  .footer {
    flex-direction: column;
  }
}
